body {
	margin:0;

	font-size:15px;
    line-height:1.6;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Intro */

.intro {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100vh;

	background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size:cover;                  
}

.introTitle::after{
	content: "";
	display: block;
	text-align: center;
	width: 60px;
	height:3px;
	background-color: #fff;
	margin: 10px 0 auto;
}


.introTitle {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 7em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	line-height: 100px;
}

.introSupitle {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
	font-size: 72px;
	text-align: center;
}

/* Header */

.header {
	padding-top: 30px;
    width: 100%; /* Был пропущен % */

	position: absolute;
	top: 0;
	left: 0;
	right:0;
	z-index:1000; /* Полегче с этим потому что потом можно забыть что у тебя на каком слое */
}

.header__logo {
	font-family: 'Montserrat';
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.header__inner {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

/* Nav */

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	font-family: 'Montserrat';
	font-weight: 700;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;

	position: relative;

	transition: color .2s linear; /* было пропущено 's', ты указывай что секунд а не просто цифру */
}

.nav__link::after {
	content: "";

	display: block;
	width: 100%;
	height: 3px;

    display: none;
	background-color: #fae187;

	position: absolute;
	top:100%;
	left: 0;
	z-index: 1;
	transition: .2s linear; /* Добавил transition для подчеркивания */
}

.nav__link:hover {
	color: #fae187;
}

.nav__link:hover::after{
	display: block;
	vertical-align: top;
}

/*Button*/

.btn {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	font-size:14px;
	font-weight:700;
	border:3px solid #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: .2s linear;
	font-family: Montserrat;
}

.btn:hover {
	color: #222222;
	background-color: #fff;
}